In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import missingno as ms
import sklearn

In [2]:
data = pd.read_excel('Data_analysys_CR_discussed_1.xlsx')
data.head()

,type,Shap,"P1A, mol","P1ET, mol",CaC,Na,CaO,H2O,Reac,TEMP,RPM,Re_tyP1E,MF,P1ET mol,P1ET Conv %,P1A mol,P1A Conv %
0,LLD,P1El,0.0,0.0,0,0.0,0.0,0.0,14,300,50,Cust1,0.7,NaN,NaN,NaN,NaN
1,LLD,P1El,0.0,0.0,0,0.0,0.0,0.0,25,300,20,Cust1,1.2,NaN,NaN,NaN,NaN
2,LLD,P1El,0.0,0.0,0,0.0,0.0,0.0,14,350,50,Cust1,1.4,NaN,NaN,NaN,NaN
3,LLD,P1El,0.0,0.0,0,0.0,0.0,0.0,25,350,20,Cust1,19.0,NaN,NaN,NaN,NaN
4,LLD,P1El,0.0,0.0,0,0.0,0.0,0.0,25,370,60,Cust1,63.0,NaN,NaN,NaN,NaN

In [3]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         176 non-null    object
 1   Shap         176 non-null    object
 2   P1A, mol     176 non-null    float64
 3   P1ET, mol    176 non-null    float64
 4   CaC          176 non-null    int64
 5   Na           175 non-null    float64
 6   CaO          172 non-null    float64
 7   H2O          176 non-null    float64
 8   Reac         176 non-null    int64
 9   TEMP         176 non-null    int64
 10  RPM          176 non-null    int64
 11  Re_tyP1E     176 non-null    object
 12  MF           141 non-null    float64
 13  P1ET mol     96 non-null     float64
 14  P1ET Conv %  81 non-null     float64
 15  P1A mol      11 non-null     float64
 16  P1A Conv %   11 non-null     float64
dtypes: float64(10), int64(4), object(3)
memory usage: 23.5+ KB

In [4]:
data['TEMP']= pd.to_numeric(data['TEMP'], errors='coerce')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176 entries, 0 to 175
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   type         176 non-null    object
 1   Shap         176 non-null    object
 2   P1A, mol     176 non-null    float64
 3   P1ET, mol    176 non-null    float64
 4   CaC          176 non-null    int64
 5   Na           175 non-null    float64
 6   CaO          172 non-null    float64
 7   H2O          176 non-null    float64
 8   Reac         176 non-null    int64
 9   TEMP         176 non-null    int64
 10  RPM          176 non-null    int64
 11  Re_tyP1E     176 non-null    object
 12  MF           141 non-null    float64
 13  P1ET mol     96 non-null     float64
 14  P1ET Conv %  81 non-null     float64
 15  P1A mol      11 non-null     float64
 16  P1A Conv %   11 non-null     float64
dtypes: float64(10), int64(4), object(3)
memory usage: 23.5+ KB

In [6]:
col1 = data.columns[:-4]
col1

Index(['type', 'Shap', 'P1A, mol', 'P1ET, mol', 'CaC', 'Na', 'CaO', 'H2O',
       'Reac', 'TEMP', 'RPM', 'Re_tyP1E', 'MF'],
      dtype='object')

In [7]:
data1=data[col1]

In [8]:
check_null=data1.isnull().sum()
check_null

type          0
Shap          0
P1A, mol      0
P1ET, mol     0
CaC           0
Na            1
CaO           4
H2O           0
Reac          0
TEMP          0
RPM           0
Re_tyP1E      0
MF           35
dtype: int64

In [9]:
data1=data1.dropna(axis=0,how="any")
data1.shape

(138, 13)

In [10]:
data1 = data1.drop(['CaC'],axis = 1)

In [11]:
check1_null=data1.isnull().sum()
check1_null

type         0
Shap         0
P1A, mol     0
P1ET, mol    0
Na           0
CaO          0
H2O          0
Reac         0
TEMP         0
RPM          0
Re_tyP1E     0
MF           0
dtype: int64

In [12]:
data1 = data1.drop(data1['Reac'][data1['Reac'] == 26].index,axis = 0)
data1 = data1[np.logical_and(data1['Re_tyP1E']!='Cust3' , data1['Re_tyP1E']!='Cust4')]
data1 = data1.drop(data1['H2O'][data1['H2O'] == 24].index,axis = 0)

In [13]:
[[j,data1[j].unique(),data1[j].value_counts() ]for j in data1.columns if data1[j].nunique()<20]

[['type',
  array(['LLD', 'P1P', 'Mix', 'LDP1E', 'HD', 'P1E'], dtype=object),
  LLD      59
  P1E      34
  P1P      15
  LDP1E    12
  HD        8
  Mix       4
  Name: type, dtype: int64],
 ['Shap',
  array(['P1El', 'Pow', 'Fla', 'Mult. Fla', 'Fla, P1Ellets'], dtype=object),
  P1El             87
  Mult. Fla        24
  Fla              10
  Pow               8
  Fla, P1Ellets     3
  Name: Shap, dtype: int64],
 ['P1A, mol',
  array([0.        , 0.04418522, 0.08837045, 0.13255567]),
  0.000000    120
  0.044185     10
  0.088370      1
  0.132556      1
  Name: P1A, mol, dtype: int64],
 ['P1ET, mol',
  array([0.        , 0.02604167, 0.078125  , 0.01496347, 0.14963472,
         0.04401021, 0.04418522, 0.05208333]),
  0.026042    52
  0.000000    49
  0.044185    23
  0.078125     3
  0.044010     2
  0.014963     1
  0.149635     1
  0.052083     1
  Name: P1ET, mol, dtype: int64],
 ['Na',
  array([0.  , 6.  , 0.06, 0.04, 2.  , 4.  , 1.  , 0.5 , 0.25, 1.5 , 3.  ,
         4.5 ]),
  0.00    54
  0.50    24
  1.00    16
  1.50     9
  6.00     6
  2.00     6
  4.00     5
  0.04     4
  0.25     4
  0.06     2
  3.00     1
  4.50     1
  Name: Na, dtype: int64],
 ['CaO',
  array([0.  , 2.  , 0.02, 4.  , 1.  , 0.5 , 0.25, 3.  ]),
  0.00    59
  0.50    33
  2.00    13
  1.00    12
  0.02     6
  4.00     4
  0.25     4
  3.00     1
  Name: CaO, dtype: int64],
 ['H2O',
  array([ 0.,  8.,  5., 12.]),
  0.0     51
  12.0    36
  8.0     31
  5.0     14
  Name: H2O, dtype: int64],
 ['Reac',
  array([14, 25], dtype=int64),
  25    102
  14     30
  Name: Reac, dtype: int64],
 ['TEMP',
  array([300, 350, 370, 380], dtype=int64),
  370    45
  350    43
  380    27
  300    17
  Name: TEMP, dtype: int64],
 ['RPM',
  array([ 50,  20,  60,  10, 100, 200,  40,  80], dtype=int64),
  20     61
  50     24
  60     21
  100    17
  10      4
  200     2
  40      2
  80      1
  Name: RPM, dtype: int64],
 ['Re_tyP1E',
  array(['Cust1', 'Cust2'], dtype=object),
  Cust1    114
  Cust2     18
  Name: Re_tyP1E, dtype: int64]]

In [14]:
# data1['impurity'] = data1['P1A, mol']+data1['P1ET, mol']
# data1 = data1.drop(['P1A, mol','P1ET, mol'],axis = 1)
# data1

In [15]:
data1 = data1[np.logical_and(data1['Shap'] !='Fla, P1Ellets',data1['Shap'] != 'Pow')]

In [16]:
data1['Chem'] = data1['CaO']+data1['Na']
data1 = data1.drop(['CaO','Na'],axis = 1)
data1

,type,Shap,"P1A, mol","P1ET, mol",H2O,Reac,TEMP,RPM,Re_tyP1E,MF,Chem
0,LLD,P1El,0.000000,0.000000,0.0,14,300,50,Cust1,0.7,0.0
1,LLD,P1El,0.000000,0.000000,0.0,25,300,20,Cust1,1.2,0.0
2,LLD,P1El,0.000000,0.000000,0.0,14,350,50,Cust1,1.4,0.0
3,LLD,P1El,0.000000,0.000000,0.0,25,350,20,Cust1,19.0,0.0
4,LLD,P1El,0.000000,0.000000,0.0,25,370,60,Cust1,63.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
170,P1E,P1El,0.044185,0.026042,12.0,25,380,20,Cust1,32.0,2.5
171,P1E,P1El,0.088370,0.052083,12.0,25,370,20,Cust1,40.0,5.0
172,P1E,P1El,0.132556,0.078125,12.0,25,370,20,Cust1,100.0,7.5
173,Mix,P1El,0.000000,0.000000,0.0,14,300,50,Cust1,1.3,0.0
174,Mix,P1El,0.000000,0.000000,0.0,14,350,50,Cust1,3.1,0.0

In [17]:
# data1 = data1.drop(['Chem'],axis = 1)

In [18]:
data1['type']

0      LLD
1      LLD
2      LLD
3      LLD
4      LLD
      ...
170    P1E
171    P1E
172    P1E
173    Mix
174    Mix
Name: type, Length: 121, dtype: object

In [33]:
data_p = data1

In [34]:
data_p = data_p[data_p['type'] == 'LLD']
data_p.shape

(59, 11)

In [35]:
data_p = data_p[data_p['Shap'] == 'P1El']
data_p.shape

(48, 11)

In [36]:
data_p = data_p[data_p['P1A, mol'] == 0]
data_p.shape

(48, 11)

In [37]:
data_p = data_p[data_p['Reac'] == 25]
data_p.shape

(34, 11)

In [38]:
data_p = data_p[data_p['Re_tyP1E'] == 'Cust1']
data_p.shape

(27, 11)

In [39]:
data_p = data_p[data_p['TEMP'] >= 350]
data_p.shape

(26, 11)

In [40]:
data_p = data_p[data_p['RPM'] >= 20]
data_p.shape

(26, 11)

In [41]:
data_p = data_p[np.logical_and(data_p['Chem'] >= 0,data_p['Chem']<= 2)]
data_p.shape

(26, 11)

In [42]:
data_p = data_p[np.logical_and(data_p['H2O'] >= 0,data_p['H2O']<= 12)]
data_p.shape

(26, 11)

In [29]:
data1.shape

(121, 11)

step 1

In [45]:
s1 = data_p

In [46]:
s1 = s1[np.logical_and(s1['TEMP'] == 350, s1['H2O'] == 0)]
s1

   type  Shap  P1A, mol  P1ET, mol  H2O  Reac  TEMP  RPM Re_tyP1E    MF  Chem
3   LLD  P1El       0.0   0.000000  0.0    25   350   20    Cust1  19.0   0.0
57  LLD  P1El       0.0   0.026042  0.0    25   350  100    Cust1   3.0   0.0
58  LLD  P1El       0.0   0.026042  0.0    25   350   50    Cust1   7.6   0.0

In [50]:
s2 = data_p

In [51]:
s2 = s2[s2['H2O'] == 5]
s2

,type,Shap,"P1A, mol","P1ET, mol",H2O,Reac,TEMP,RPM,Re_tyP1E,MF,Chem
92,LLD,P1El,0.0,0.026042,5.0,25,370,20,Cust1,120.0,1.0
134,LLD,P1El,0.0,0.044185,5.0,25,370,20,Cust1,20.0,1.0

In [52]:
s3 = data_p
s3 = s3[s3['H2O']==0]
s3

,type,Shap,"P1A, mol","P1ET, mol",H2O,Reac,TEMP,RPM,Re_tyP1E,MF,Chem
3,LLD,P1El,0.0,0.000000,0.0,25,350,20,Cust1,19.0,0.0
4,LLD,P1El,0.0,0.000000,0.0,25,370,60,Cust1,63.0,0.0
5,LLD,P1El,0.0,0.000000,0.0,25,370,20,Cust1,111.0,0.0
57,LLD,P1El,0.0,0.026042,0.0,25,350,100,Cust1,3.0,0.0
58,LLD,P1El,0.0,0.026042,0.0,25,350,50,Cust1,7.6,0.0
133,LLD,P1El,0.0,0.044185,0.0,25,370,20,Cust1,29.0,1.0